<div class="container">
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>BookStore is a client app to create, edit,view and delete books online.</p>
        <p>Also user can shop for different books and buy online in a superficial way.</p>
    </div>
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="/assets/images/foundersalman.jpeg" alt="Salman" style="height: 100%;width:100%">
                <div class="container">
                    <h2>Salman Sayed</h2>
                    <p class="title">CEO & Founder</p>
                    <p>A Microsoft Certified Professional with 12+ years of IT experience. Played vital roles in my
                        professional career with an exemplified track record.</p>
                    <p><a class="btn btn-primary btn-md" href="mailto:salmansayed99@gmail.com">
                        <i class="bi bi-envelope-at" style="font-size: 20px;"></i> Contact</a></p>
                </div>
            </div>
        </div>
    </div>
</div>