<div class="page-holder align-items-center pb-4 bg-gray-100 vh-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header px-lg-5">
                        <div class="card-heading text-primary">Sign Up</div>
                    </div>
                    <div class="card-body p-lg-3">
                        <h3 style="font-size: 20px;">Create profile to explore amazing books online!</h3>
                        <form [formGroup]="signupFormGroup" (ngSubmit)="onSubmit()">
                            <div class="form-floating mb-3" [ngClass]="{'has-error': formErrors.firstName}">
                                <input placeholder="First Name" formControlName="firstName" class="form-control"
                                    id="floatingInputfirstName" type="text" (blur)="logValidationErrors()">
                                <label for="floatingInputfirstName">First Name</label>
                                <span class="text-danger form-errors" *ngIf="formErrors.firstName">
                                    {{formErrors.firstName}}
                                </span>
                            </div>
                            <div class="form-floating mb-3" [ngClass]="{'has-error': formErrors.lastName}">
                                <input placeholder="Last Name" formControlName="lastName" class="form-control"
                                    id="floatingInputlastName" type="text" (blur)="logValidationErrors()">
                                <label for="floatingInputlastName">Last Name</label>
                                <span class="text-danger form-errors" *ngIf="formErrors.lastName">
                                    {{formErrors.lastName}}
                                </span>
                            </div>
                            <div class="form-floating mb-3" [ngClass]="{'has-error': formErrors.email}">
                                <input placeholder="Email address" formControlName="email" class="form-control"
                                    id="floatingInputemail" type="email" (blur)="logValidationErrors()">
                                <label for="floatingInputemail">Email address</label>
                                <span class="text-danger form-errors" *ngIf="formErrors.email">
                                    {{formErrors.email}}
                                </span>
                            </div>
                            <div class="form-floating mb-3" [ngClass]="{'has-error': formErrors.password}">
                                <input formControlName="password" class="form-control" id="floatingPassword"
                                    type="password" placeholder="Password" (blur)="logValidationErrors()">
                                <label for="floatingPassword">Password</label>
                                <span class="text-danger form-errors" *ngIf="formErrors.password">
                                    {{formErrors.password}}
                                </span>
                            </div>
                            <div class="form-floating mb-3" [ngClass]="{'has-error': formErrors.userRoles}">
                                <label style="padding: 0%;">User Role</label>

                                <select formControlName="userRoles" class="form-control mb-3" id="floatingRoles" (blur)="logValidationErrors()">
                                    <option [ngValue]="null" disabled>Choose User Role</option>
                                    <option *ngFor="let role of userRoles" [ngValue]="role.RoleId">
                                        {{ role.RoleName }}
                                    </option>
                                </select>
                                <span class="text-danger form-errors" *ngIf="formErrors.userRoles">
                                    {{formErrors.userRoles}}
                                  </span>
                            </div>                            

                            <div class="text-left mb-1" [ngClass]="{'has-error': formErrors.password}">
                                <span [title]="!signupFormGroup.valid ? 'Login Validation Failed' : ''">
                                    <button [disabled]="signupFormGroup.invalid" type="submit"
                                        class="btn btn-lg btn-primary">
                                        Sign Up
                                    </button>
                                </span>
                                <a routerLinkActive="active" routerLink="/login" class="btn btn-link">Cancel</a>
                            </div>
                            <app-errorbadrequest [errorList]="errorBadRequestList"></app-errorbadrequest>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="text-sm text-muted">Already have an account? <a routerLinkActive="active"
                                routerLink="/login">Login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>