<carousel [isAnimated]="true" data-interval="1000">
  <slide>
    <img src="assets/images/1.jpg" alt="slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/2.jpg" alt="slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/3.jpeg" alt="slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/4.jpg" alt="slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/6.avif" alt="slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/7.avif" alt="slide" style="display: block; width: 100%;">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to the BookStore!</h1>
  </div>
</section>